*{
    padding: 0;
    margin: 0;
}
#heading{
    line-height: 15vmin;
    height: 15vmin;
    width: 100vw;
    background-color: #081b31;
    color: white;
}
body{
    text-align: center;
}
img{
    height: 30vmin;
    width: 30vmin;
}
img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;

}

.images{
    gap: 2.5vmin;
    width: 96vmin;
    height: 50vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.game{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.you{
    font-size: 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.comp{
    font-size: 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.score{
    width: 50vmin;
    height: 20vmin;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 5vmin;
}

#para1{
    font-size: 7vmin;
}
#para2{
    font-size: 7vmin;
}
.total{
     display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result{
    background-color: black;
    color: white;
    padding: 1vw;
    display: inline;
    font-size: 4vmin;
    border: none;
    border-radius: 1vw;
}
.message{
    margin-top: 5vmin;
}